# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager

# building
target
build
null
tmp*
temp*
dist
test-output
build.log
pom.xml.releaseBackup
release.properties
TestJavaClass*.java
interpolated-*.xml

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log

/maven-scala-plugin.iml
/maven-scala-plugin.ipr
/maven-scala-plugin.iws
