<?xml version="1.0" encoding="UTF-8"?>
<document>
	<properties>
		<title>Maven Scala Plugin Frequently Asked Questions</title>
		<authors>
			<person name="Josh Suereth" />
		</authors>
	</properties>
	<body>
		<h1>Frequently Asked Questions</h1>

    <section name="Incremental Compilation (w/ Zinc)">
      <dl>
				<dt>Why does the maven plugin compile both Java and Scala sources</dt>
        <dd>The <a href="https://github.com/typesafehub/zinc">Zinc incremental compilation</a> library needs access to both Java and Scala sources to accurately determine recompilation.            
				</dd>
			</dl>
			<dl>
				<dt>Can I disable maven's java compilation?</dt>
				<dd>This is possible through creating a new project lifecycle type, but could cause issues with other maven plugins and requires more testing to ensure it behave well with the ecosystem.  If you'd like to work on creating a Scala lifecycle for incremental compilation that only compiles things once, please do!</dd>
			</dl>
    </section>

		<section name="Read-Eval-Print-Loop (aka scala:console)">
			<dl>
				<dt>Why does maven not let me call scala:console?</dt>
        <dd>Maven 3.0 made its policy more strict about shortened plugin names.   If you wish to use scala:goal forms on the command-line you must create a &lt;pluginGroup&gt; element in your ~/.m2/settings.xml file that contains ${project.groupId} as a pluginGroup.
				</dd>
			</dl>
			<dl>
				<dt>Why does the mvn scala:console goal not compile the project?</dt>
				<dd>The authors of the plugin felt it was much more flexible to allow a REPL to be started during the coding of a project.
				The REPL is mostly used for experimenting with APIs and therefore users should not need a functioning project to test out potential code paths.
				Users who want to make use of their latest changes should type "mvn compile scala:console" or "mvn test-compile scala:console" rather than just "mvn scala:console"</dd>
				<dt>Does the REPL support auto-complete?</dt>
				<dd>As of Scala 2.8.0 the REPL supports auto-complete features.</dd>

			</dl>
		</section>

		<section name="Eclipse Integration">
			<dl>
				<dt>Is there a wiki detailing Scala/Eclipse/Maven integration</dt>
				<dd>Yes, it requires a Scala trac user account and is located <a href="http://lampsvn.epfl.ch/trac/scala/wiki/ScalaEclipseMaven">here</a></dd>
				<dt>Why does the mvn eclipse:eclipse not add the src/main/scala directory as a source path</dt>
				<dd>The maven-eclipse-plugin is not maintained/integrated with the scala-maven-plugin.
				If you would like to have the src/main/scala directory added as a source path in eclipse, you must configure it useing the <a href="http://mojo.codehaus.org/build-helper-maven-plugin/howto.html">maven-build-helper-plugin's add-source goal</a>
				Example: <pre>
&lt;project&gt;

  ...
  &lt;build&gt;
   &lt;plugins&gt;
     &lt;plugin&gt;
        &lt;groupId&gt;org.codehaus.mojo&lt;/groupId&gt;
        &lt;artifactId&gt;build-helper-maven-plugin&lt;/artifactId&gt;
        &lt;executions&gt;
          &lt;execution&gt;
            &lt;id&gt;add-source&lt;/id&gt;
            &lt;phase&gt;generate-sources&lt;/phase&gt;
            &lt;goals&gt;
              &lt;goal&gt;add-source&lt;/goal&gt;
            &lt;/goals&gt;
            &lt;configuration&gt;
              &lt;sources&gt;
                &lt;source&gt;src/main/scala&lt;/source&gt;
                ...
              &lt;/sources&gt;
            &lt;/configuration&gt;
          &lt;/execution&gt;
        &lt;/executions&gt;
      &lt;/plugin&gt;
    &lt;/plugins&gt;
  &lt;/build&gt;
&lt;/project&gt;
				</pre>
				</dd>
				<dt>Can you synchronize eclipse configuration with the scalac plugin pom configuration?</dt>
				<dd>Not Currently</dd>

			</dl>
		</section>
	</body>
</document>
